<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
 
 
 
  <parameter name="username" value="qatrainer"></parameter>
  <parameter name="password" value="admin123"></parameter>
  
  
  <test  name="Test1">
    <classes>
      <class name="com.TestCases.LoginAppService"/>
    </classes>
  </test> <!-- Test -->
  
  
  
</suite> <!-- Suite -->
